{% load static %}

<link href="{% static 'pet_clinic/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'pet_clinic/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'pet_clinic/css/color.css' %}" rel="stylesheet">
<link href="{% static 'pet_clinic/css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'pet_clinic/css/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'pet_clinic/css/prettyPhoto.css' %}" rel="stylesheet">
<link href="{% static 'pet_clinic/css/owl.carousel.min.css' %}" rel="stylesheet">
<link href="{% static 'pet_clinic/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
<link rel="icon" type="image/png" href="{% static 'pet_clinic/images/logobal.png' %}" />