{% load static %}
<div id="sidebar-wrapper">
  <a id="menu-close" href="#" class="close toggle"><i class="fa fa-times" aria-hidden="true"></i></a>
  <ul class="sidebar-nav">
    <li class="sidebar-brand"> <a href=""><img src="{% static 'pet_clinic/images/logof.png' %}" alt=""></a> </li>
    <li><a href="{% url 'index' %}">خانه</a></li>
    <li><a href="{% url 'services' %}">خدمات</a></li>
    <li><a href="{% url 'doctors' %}">دامپزشکان</a></li>
    <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">ویژگی ها <span class="fa fa-angle-down"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'gallery' %}">گالری</a></li>
        <li><a href="{% url 'faqs' %}">سوالات رایج</a></li>
      </ul>
    </li>
    <li><a href="{% url 'contact' %}">ارتباط با ما</a></li>
  </ul>
</div>