{% extends 'base.html' %}
{% load static %}
{% block maincontent %}
<!--Main Content Start-->
<div class="main-content">
  <!--Welcome Section-->
  <section class="welcome-section">
    <div class="container">
      <div class="row">
        <div class="welcome-box">
          <div class="col-md-6 col-sm-6">
            <div class="welcome-text">
              <div class="sectio-title-2"> <strong>Welcome to </strong>
                <h2>Pet Clinic</h2>
              </div>
              <p> کلینیک دامپزشکی بهترین ارائه دهنده خدمات پزشکی حیوانات خانگی همچون خدمات جراحی و عقیم سازی ، خدمات واکسیناسیون ، خدمات دندانپزشکی و … با بهترین نیروهای متخصص دامپزشکی در کشور و پیشرفته ترین امکانات در زمینه دامپزشکی در خدمت هم وطنان عزیز می باشد .</p>
              
              
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="welcome-img"> <img src="{% static 'pet_clinic/images/wellc.jpg' %}" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Welcome Section End-->

  <!--Home Services Start-->
  <section class="home-features">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="features-box">
            <h3>خدمات سونوگرافی و معاینه در محل</h3>
            <p>انجام معاینه و سونوگرافی در محل توسط پزشک متخصص در سریعترین زمان ممکن</p>
            <a href="appointment.html">گرفتن نوبت</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features-box selected">
            <h3>اتاق جراحی مجهز</h3>
            <p>این کلینیک توانایی انجام انواع جراحی های درمانی و عقیم سازی حیوانات خانگی را انجام دهد .</p>
            <a href="contact-2.html">تماس با ما</a>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="features-box">
            <h3>موارد اورژانسی</h3>
            <p><span>شنبه-پنجشنبه:</span>تمام وقت<br>
        
              <span>جمعه:</span> 7:00am - 05:00pm<br>
            </p>
            <a href="#">برای اطلاعات بیشتر: 021563214</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Home Services End-->

  <!--Services Section Start-->
  <section class="home-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3"> <strong>دپارتمان</strong>
            <h2>خدمات موجود در دپارتمان </h2>
          </div>
        </div>

        <!--service style 1-->
        <div class="col-md-12">
          <div class="service-style-1">
            <div class="row">
              <!--service box start-->
              {% for service in services %}
              <div class="col-md-3 col-sm-3">
                <div class="service-box">
                  <div class="ser-thumb"> <a href="{% url 'service_details' service.id %}" class="view"><i
                        class="fa fa-heartbeat" aria-hidden="true"></i></a> <img src="{{ service.thumbnail.url }}"
                      alt="">
                  </div>
                  <div class="ser-content">
                    <h3><a href="{% url 'service_details' service.id %}">{{ service.title }}</a></h3>
                    <p>{{ service.description|truncatewords:15 }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!--service box End-->
            </div>
          </div>
        </div>
        <!--service style 1 End-->

      </div>
    </div>
  </section>
  <!--Services Section End-->

  <!--Heart Care Start-->
  <section class="heart-care-services">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title-3 white"> <strong>Our Core</strong>
            <h2>خدمات ویژه
            </h2>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#service-1" aria-controls="service-1" role="tab"
                data-toggle="tab"> <i class="fa fa-graduation-cap"></i>  خدمات ویژه دندانپزشکی</a></li>
            <li role="presentation"><a href="#service-2" aria-controls="service-2" role="tab" data-toggle="tab"> <i
                  class="fa fa-heartbeat"></i> آرایش و شست و شو</a></li>
            <li role="presentation"><a href="#service-3" aria-controls="service-3" role="tab" data-toggle="tab"> <i
                  class="fa fa-cloud"></i> خدمات ویژه واکسیناسیون</a></li>
            <li role="presentation"><a href="#service-4" aria-controls="service-4" role="tab" data-toggle="tab"> <i
                  class="fa fa-user-md"></i>جراحی و عقیم سازی</a></li>
            <li role="presentation"><a href="#service-5" aria-controls="service-5" role="tab" data-toggle="tab"> <i
                  class="fa fa-medkit"></i> بروزترین امکانات آزمایشگاهی</a></li>
            <li role="presentation"><a href="#service-6" aria-controls="service-6" role="tab" data-toggle="tab"> <i
                  class="fa fa-umbrella"></i> تعرفه های اقتصادی</a></li>
          </ul>
        </div>
        <div class="col-md-7 col-sm-7">

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="service-1">
              <div class="ser-tab-text">
                <h3>                  خدمات ویژه دندانپزشکی
                </h3>
                <p> <i class="fa fa-graduation-cap"></i> 
                  همه ما از اهمیت بهداشت و سلامت دهان و دندان باخبر هستیم این امر در حیوانات خانگی نیز به شدت مهم و تاثیر گذار بر سلامت آن هاست، زیرا سلامت دهان و دندان بر تغذیه و رشد این حیوانات تاثیر گذار است.
                  
                   </p>
                <ul>
                  <li><i class="fa fa-check"></i> سالن مجهز.</li>
                  <li><i class="fa fa-check"></i> استفاده از مواد اولیه دندانپزشکی درجه یک</li>
                  <li><i class="fa fa-check"></i> مجهز به یونیت مدرن دندانپزشکی</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-2">
              <div class="ser-tab-text">
                <h3>آرایش و شست و شو</h3>
                <p> <i class="fa fa-heartbeat"></i> 
                  یکی از مهم ترین دلایل نیاز به کوتاه کردن موی حیوانات خانگی بهبودی است که در دمای بدن و سلامت پوست این حیوانات ایجاد می شود . نگهداری از حیوانات خانگی مسولیت‌های این چنینی هم دارد</p>
                <ul>
                  <li><i class="fa fa-check"></i> در سریع ترین زمان</li>
                  <li><i class="fa fa-check"></i> شتستشوی با کیفیت</li>
                  <li><i class="fa fa-check"></i> سالن مجهز</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-3">
              <div class="ser-tab-text">
                <h3>                  خدمات ویژه واکسیناسیون
                </h3>
                <p> <i class="fa fa-cloud"></i> 
                  ما در کلینیک دامپزشکی فرشته با دارا بودن سالن های مجهز و تیم متخصص، سلامتی و شادابی را برای حیوانات شما فراهم می کنیم . تیم متخصص ما تشکیل شده از بهترین دامپزشکان حال حاضر ایران است
                  
                   </p>
                <ul>

                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-4">
              <div class="ser-tab-text">
                <h3>جراحی و عقیم سازی</h3>
                <p> <i class="fa fa-user-md"></i> عقیم سازی در بین حیوانات خانگی به خصوص سگ ها و گربه ها بسیار رایج و متداول هست و این عمل جراحی از ابتلاع به بیماری ها و رفتار های پرخاشگرانه سگ ها و گربه ها جلوگیری می کند . حتما شما هم نگران سلامت حیوانات خود هستید.
                </p>
                <ul>
                  <li><i class="fa fa-check"></i> پیشرفته ترین دستگاه بیهوشی استنشاقی
                  </li>
                  <li><i class="fa fa-check"></i> دستگاه رادیولوژی دیجیتال فوق پیشرفته</li>
                  <li><i class="fa fa-check"></i>دستگاه CBC تخصصی دامپزشکی</li>
                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-5">
              <div class="ser-tab-text">
                <h3>بروزترین امکانات آزمایشگاهی</h3>
                <p> <i class="fa fa-medkit"></i> استفاده از بروزترین متدهای روز دنیا </p>
                <ul>

                </ul>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="service-6">
              <div class="ser-tab-text">
                <h3>تعرفه های اقتصادی</h3>
                <p> <i class="fa fa-umbrella"></i> کلینیک دامپزشکی سعی نموده ضمن سرویس دهی با کیفیت ،قیمت هایی اقتصادی ارائه نماید.</p>
                <ul>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Heart Care End-->


  <!--Team Start-->
  <section class="team">
    <div class="container">
      <div class="row">
        <div class="section-title-3"> <strong>تیم ما</strong>
          <h2>تیم حرفه ای دامپزشکان</h2>
        </div>
      </div>
      <div class="row">
        {% for doctor in experts|slice:':4' %}
        <div class="col-md-3 col-sm-6">
          <div class="team-box mb50">
            <div class="team-thumb"> <a href="{% url 'doctor_details' doctor.id %}" class="view"><i class="fa fa-Heart"
                  aria-hidden="true"></i></a> <img src="{{ doctor.picture.url }}" alt=""></div>
            <div class="team-text">
              <h5><a href="{% url 'doctor_details' doctor.id %}">{{ doctor.name }}</a></h5>
              <strong>{{ doctor.speciality }}</strong>
              <ul class="team-social">
                {% if doctor.twitter %}
                <li><a class="tw" href="{{ doctor.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                {% endif %}
                {% if doctor.facebook %}
                <li><a class="fb" href="{{ doctor.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                {% endif %}
                {% if doctor.instagram %}
                <li><a class="insta" href="{{ doctor.instagram }}"><i class="fa fa-instagram"
                      aria-hidden="true"></i></a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--Team End-->


  <!--Testimonials + Faqs Start-->
  <section class="testi-faq">
    <div class="container">
      <div class="row">

        <!--Testimonials Start-->
        <div class="col-md-6">
          <div class="home-testimonials">
            <div class="sectio-title-2"> <strong>نظرات مراجعه کنندگان</strong>
              
            </div>
            <div id="testimonial-slider" class="owl-carousel owl-theme">

              <!--Slider Start-->
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'pet_clinic/images/tuser.jpg' %}" alt=""> <strong>ASD</strong>
                    <i></i> </div>
                  <div class="test-text">
                    <p>رفتار بسیار حرفه ای و عالی
                    </p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'pet_clinic/images/tuser-2.jpg' %}" alt=""> <strong>POD</strong>
                    <i></i> </div>
                  <div class="test-text">
                    <p>
                    </p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-holder">
                  <div class="user-thumb"> <img src="{% static 'pet_clinic/images/tuser.jpg' %}" alt=""> <strong>JKL</strong>
                    <i></i> </div>
                  <div class="test-text">
                    <p>
                    </p>
                  </div>
                </div>
              </div>

              <!--Slider End-->

            </div>
          </div>
        </div>
        <!--Testimonials End-->

        <!--FAQ Start-->
        <div class="col-md-6">
          <div class="home-faq">
            <div class="sectio-title-2"> <strong></strong>
              <h2>سوالات رایج</h2>
            </div>
            <div class="faqs">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#accordion"
                        href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> آیا وزن حیوانات خانگی من طبیعی است
                      </a> </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body"> مطابق آخرین بررسی‌های انجمن جلوگیری از چاقی و بیماری حیوانات خانگی، بیش از نیمی از سگ‌ها و گربه‌ها اضافه وزن دارند. بدتر از این، بسیاری از صاحبان این حیوانات خانگی، وجود هرگونه مشکل در آن‌ها را نفی می‌کنند. از متخصصین دامپزشکی بپرسید که آیا وزن حیوانات خانگی شما، نسبت به اندازه و قد و یا با توجه به این که تولید مثل داشته، مناسب است یا خیر؟ اگر حیوانات خانگی شما اضافه وزن داشتند، آن‌گاه می‌توانید با مشورت گرفتن و همکاری با دامپزشکی، این مشکل را حل کنید. اگر به کم‌وزن بودن حیوانات خانگی خود مشکوک هستید نیز همین کارها را انجام دهید. هرچند مشکل کم‌وزنی، نسبت به اضافه وزن، کمتر اتفاق می‌افتد. </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        آیا غذای مناسب‌تری برای حیوانات خانگی من وجود دارد </a> </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body"> داشتن سلامتی، به تغذیه مناسب  وابسته است و دامپزشکی بهترین جایی‌ست که می‌تواند تشخیص دهد چه غذاهایی برای حیوانات خانگی شما مناسب است. در دامپزشکی، بعد از انجام معاینه می‌توان با در نظر گرفتن سن، سبک زندگی و وضعیت سلامتی حیوانات خانگی شما یا هرگونه عامل تاثیرگذار دیگر، یک رژیم غذایی مناسب پیشنهاد دهد. </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse"
                        data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree"> آیا حیوانات خانگی باید آزمایش خون بدهد </a> </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                    aria-labelledby="headingThree">
                    <div class="panel-body"> با آزمایش خون، بیماری‌هایی مثل ناراحتی‌های کبد و کلیه، دیابت، سرطان و سایر مریضی‌های حیوانات خانگی، شناسایی می‌شوند. این بیماری‌ها در صورت تشخیص زودهنگام، قابل درمان هستند. آزمایش خون مرتب، هم‌چنین باعث می‌شود دامپزشک بتواند وضعیت سلامتی حیوانات خانگی شما را در طول زمان‌های مختلف با یکدیگر مقایسه‌ کند. </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!--FAQ End-->

      </div>
    </div>
  </section>
  <!--Testimonials + Faqs End-->

</div>
<!--Main Content End-->
{% endblock maincontent %}